<h1>Today in Happy Tamagotchi Land...</h1>

<h2>Your pet is: <%= @name %><h2>

<h3>Your pet's food level: <%= @food_level %><h3>
<h3>Your pet's activity level: <%= @activity_level %><h3>
<h3>Your pet's sleep level: <%= @sleep_level %><h3>

<form action="/feed" method="post">
  <button type="submit" class="btn-success submit-btn" id="feed_pet">Feed your pet!</button>
</form>

<form action="/activity" method="post">
  <button type="submit" class="btn-success submit-btn" id="play_pet">Play with your pet!</button>
</form>

<form action="/rest" method="post">
  <button type="submit" class="btn-success submit-btn" id="nap_pet">Give your pet a nap!</button>
</form>
