<h1>Welcome! Time to adopt your new Tamagotchi!</h1>

<form action="/creature" method="post">
  <div class="form-group">
    <label for="pet_name">Please enter your pet's name:</label>
    <input type="text" name="pet_name" id="pet_name">
    <button type="submit" class="btn-success submit-btn" id="meet_pet">Meet your pet!</button>
</form>
