<h1>Welcome! Time to adopt your new Tamagotchi!</h1>
<form action="/results" method="get">
  <div class="form-group">
    <label for="name">Please enter your pet's name:</label>
    <input class="form-control" type="text" id="name">
  </div>
  <button type="submit" class="btn-success submit-btn">Meet your pet!</button>
</form>
